.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
}

.whiteButton {
  padding: 0;
  border: black 1px solid;
  border-radius: 5px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whiteButton:hover {
  box-shadow: 0 0 10px 5px rgba(55,111,128,1);
  background-color: rgba(55,111,128,1);
}
